extend layout

block content
	form(action="/tasks/complete", method="post", class="form-tasks")
		<h3>To-do list:</h3>
		table(border="0", padding="10", width="100%")
			tr
				td Name
				td Category
				td Date
				td Complete
			each task in tasks
				tr
					td #{task.itemName}
					td #{task.itemCategory}
					- var day   = task.itemDate.getDate();
					- var month = task.itemDate.getMonth() + 1;
					- var year  = task.itemDate.getFullYear();
					td #{month + "/" + day + "/" + year}
					td
						input(type="checkbox", name="completedids", value="#{task._id}", checked=task.itemCompleted)
						input(type="hidden", name="taskids", value="#{task._id}")
		<br>
		<button class='btn btn-medium btn-primary'>Update tasks</button>
	hr
	div(class="container")
		form(action="/tasks/add", method="post", class="form-tasks")
			
			<h3>Add a task:</h3>
			input(name="item[name]", type="text", class="input-block-level", placeholder="Task title")
			input(name="item[category]", type="text", class="input-block-level", placeholder="Task category")
			<br>
			<button class='btn btn-medium btn-primary'>Add item</button>